
/*地图大小*/
#assetmap {
    width: 100%;
    /*height: 100%;*/

    position: absolute;
    height: 95%;
    bottom: 0;
    right: 0;
    left: 0;
}

#assertwell{
    padding:0;
    height: 830px;
}


#contentcrumb{
    position: relative;

    /*百度地图适应浏览器缩放全屏显示*/
    height: 4.5%; margin: 0; padding: 0;
}


.menu-item{
    float: right;
}

#menu-figure{
    padding-left: 15px;
}


#querylist{
    min-width: 50px;
    margin-top: 15px;
    position: absolute;
    right: 0; /*right: 95px;*/
    top: 10px;
}



.divider{
    margin: 0 auto;
    padding: 0 auto;
}


#assetlist{
    display:none;
    position: absolute;
    top: 150px;
    left: 50px;
    width: 270px;
    z-index: 999;
    padding: 10px;
    padding-top: 20px;
    padding-right: 20px;
    max-height:670px;
    overflow: scroll;
    background-color: #FAFAFA;
}

#item-list{
    position: relative;
    padding-left: 0;
}


#close1{
    position: absolute;
    right: -12px;
    top: -12px;
    width: 25px;
    height: 25px;
}


.item-asset-null{
    display: none;
}

.item-asset{
    position: relative;
    list-style: none;
}


.tab{
    padding: 5px;
    width: 100%;
    height: 70px;
    padding-top: 15px;
}


.shuibeng-image{
    float: right;
}

.yeweiji-image{
    float: right;
    width: 50px;
    height: 50px;
}


.hr-style{
    margin: 0;
    padding: 0;
}


.dropdown-toggle{
    text-decoration: none;
}


.no-1{
    background-image:url(http://webmap0.map.bdstatic.com/wolfman/static/common/images/markers_new2_4ab0bc5.png);
    width:18px;
    height:27px;
    display:inline-block;
    margin-left:6px;
    margin-top:4px;
    background-position:0 -139px;
}


#figure-chart{
    width: 600px;
    height:400px;
    padding-right:40px;
}


/*
.baidu-asset{
    position: absolute;
    height: 95%;
    bottom: 0;
    right: 0;
    left: 0;
}*/
